POSTGRES_DB=consorcio_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

SUPERUSUARIO=super@super.com
CLAVE_SUPERUSUARIO=super

ADMINISTRADOR=admin@admin.com
CLAVE_ADMINISTRADOR=admin

PROPIETARIO=propietario@propietario.com
CLAVE_PROPIETARIO=propietario

AMBOS=ambos@ambos.com
CLAVE_AMBOS=ambos
