@import "_constantes.css";
@import "_footer.css";
@import "_sidebar.css";
@import "_tabla.css";
@import "_componentes.css";
@import "_utilidades.css";

@import "_login.css";
@import "_bienvenida.css";
@import "_pagina_en_construccio.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fuenteCuerpo);
    color: var(--colorTextoPrincipal);
}

.contenedor-principal {
    width: 80vw;
    height: 100vh;
    margin-left: 1.5rem;
    background-color: var(--colorFondo);
}

.titulo {
    font-family: var(--fuenteTitulos);
    color: var(--colorTextoPrincipal);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

a {
    text-decoration: none;
}